.github-jobs-promotion,
.merge-message .js-merge-branch-action,
.toolbar-commenting .toolbar-item:not(.js-saved-reply-container, .js-suggested-change-toolbar-item),
[href="https://guides.github.com/features/mastering-markdown/"],
.js-manual-file-chooser
{
  display: none !important;
}

.toolbar-group {
  margin-left: 0;
}

.previewable-comment-form textarea {
  min-height: 300px;
  max-height: none;
  font-size: 12px;
}

.blob-code-inner,
.blob-num,
.file-info,
.previewable-comment-form textarea,
tt,
code,
pre {
  font-family: 'Fira Code', 'Source Code Pro', 'Menlo';
}
