body {
  min-width: initial;
}

.pageholder {
  width: auto !important;
  max-width: 1092px !important;
  padding-right: 24px !important;
  margin: 0 auto !important;
}

.header__stay-on-top--fixed {
  max-width: 1044px !important;
  padding-right: 0 !important;
}

.content__main>.headline.headline {
  width: calc(100vw - 2 * 30px);
  max-width: 980px;
}

.page--article .headline__inner, .page--briefing .headline__inner, .page--fullwidth .headline__inner, .page--gallery .headline__inner, .page--weather .headline__inner {
  width: initial;
  padding: 0 40px;
}

.container.recommendations {
  display: none;
}

.articlebar {
  display: none;
}

.teaser--sponsored {
  display: none;
}
