/* Hide the paywall */
#overlay_wrap,
#tamovl-page-wrap,
.subscribe {
  display: none;
}

html > body.modal-open {
  position: initial !important;
  overflow: initial !important;
  -webkit-user-select: initial !important;
}
