snippet rspec
require 'spec_helper'

describe ${1:'${2:name}'} do
	$0
end
endsnippet


snippet desc
describe '${1:what}' do
	$0
end
endsnippet


snippet con
context '${1:when ${2:condition}}' do
	$0
end
endsnippet


snippet let
let(:${1:name}) $0
endsnippet


snippet it
it '${1:does something}' do
	$0
end
endsnippet


snippet dc
described_class
endsnippet


snippet is
it { is_expected.to $0 }
endsnippet


snippet isn
it { is_expected.not_to $0 }
endsnippet


snippet sub
subject $0
endsnippet
